In [348]:
import pandas as pd
import numpy as np
from datetime import timedelta
from sqlalchemy import create_engine
import psycopg2

In [349]:
engine = create_engine('postgresql://+id:pw@db link/dbname')

In [350]:
# df =  pd.read_sql('''SELECT date_order::date, date_delivered, default_code, product_uom_qty, qty_delivered from 
#             sale_quotation_line where state = 'process' and subcateg_trends_id IN ( 14, 13, 12, 11 ) 
#             and date_order :: DATE <= (now() + interval '15 hour')::date - 1 order by date_order::date''', engine)
# df

In [351]:
df =  pd.read_sql('''SELECT 
a.date_order:: DATE, 
a.state,
b.date_process,
a.date_delivered, 
a.default_code, 
a.product_uom_qty, 
a.qty_delivered 
FROM sale_quotation_line a
join sale_quotation b on b.id = a.order_id
WHERE
a.state != 'cancel'
and 
b.date_process is not null
AND a.date_order :: DATE > CURRENT_DATE - 60
and subcateg_trends_id IN ( 14, 13, 12, 11 )
ORDER BY a.date_order:: DATE''', engine)
df
# and a.default_code = 'E1039M'

,date_order,state,date_process,date_delivered,default_code,product_uom_qty,qty_delivered
0,2022-02-07,closed_with_outstanding,2022-02-08,2022-02-09,JROS,3.0,3.0
1,2022-02-07,done,2022-02-07,2022-02-08,JBTS,2.0,2.0
2,2022-02-07,done,2022-02-07,2022-02-08,JXEM,3.0,3.0
3,2022-02-07,done,2022-02-07,2022-02-08,JDTA,2.0,2.0
4,2022-02-07,done,2022-02-08,2022-02-09,JPAX,2.0,2.0
...,...,...,...,...,...,...,...
19103,2022-04-06,process,2022-04-06,None,E1006B,6.0,0.0
19104,2022-04-06,process,2022-04-06,None,E0610B,6.0,0.0
19105,2022-04-06,process,2022-04-06,None,E1023B-1,6.0,0.0
19106,2022-04-06,process,2022-04-06,None,JSNT,6.0,0.0
19107,2022-04-06,process,2022-04-06,None,JPAX,6.0,0.0

In [352]:
# #SO outstanding dengan Cutoff data

# df =  pd.read_sql('''select 
# a.date_order::date,
# b.default_code,
# b.name,
# a.product_uom_qty * e.factor as order_qty,
# a.qty_delivered * e.factor as deliver_qty,
# (a.product_uom_qty * e.factor) - (a.qty_delivered * e.factor) as outstanding_qty,
# a.state,
# case when a.state in ('draft','open','process') then 0 else 1 end
# from 
# sale_quotation_line a 
# join product_product b on a.product_id = b.id
# join sale_quotation c on c.id = a.order_id
# join product_template d on d.id = b.product_tmpl_id
# left join product_uom e on d.production_uom_conversion_id = e.id
# where 
# a.date_order::date >= '2022-01-01' and a.date_order::date <= '2022-01-31' 
# and c.company_id = 1
# and c.state not in ('cancel','cart')
# and
# (select
# sum(ax.qty_delivered)
# from sale_quotation_line ax
# join stock_picking sp on ax.id = sp.so_id
# group by sp.so_id)
# order by a.date_order::date desc, a.order_id desc, outstanding_qty desc''', engine)
# print(df.head(5))

In [353]:
#

In [354]:
df['date_order'] = pd.to_datetime(df['date_order'])
df['date_delivered'] = pd.to_datetime(df['date_delivered'])
df['date_process'] = pd.to_datetime(df['date_process'])
print(df.dtypes)

date_order         datetime64[ns]
state                      object
date_process       datetime64[ns]
date_delivered     datetime64[ns]
default_code               object
product_uom_qty           float64
qty_delivered             float64
dtype: object

In [355]:
df['date_process'] = pd.to_datetime(df['date_process'])
df['date_delivered'] = pd.to_datetime(df['date_delivered'])

In [356]:
grouped_so = df.groupby(['date_process', 'default_code','state'], as_index=False)['product_uom_qty'].sum()
grouped_do = df.groupby(['date_delivered', 'default_code','state'], as_index=False)['qty_delivered'].sum()

In [357]:
grouped_so.tail(2)

     date_process default_code    state  product_uom_qty
7916   2022-04-06         JZKS  process              2.0
7917   2022-04-06       P3025L  process              3.0

In [358]:
grouped_do.tail(2)

     date_delivered default_code    state  qty_delivered
6561     2022-04-06       P3019L  process           12.0
6562     2022-04-06       P3025L  process            1.0

In [359]:
full_dates_so = pd.DataFrame(pd.date_range(start=df['date_process'].min(), end=(pd.to_datetime("now").date()-timedelta(days=1))), columns=['date_process'])
full_dates_do = pd.DataFrame(pd.date_range(start=df['date_delivered'].min(), end=(pd.to_datetime("now").date()-timedelta(days=1))), columns=['date_delivered'])
print(full_dates_so.head(5))
print(full_dates_do.head(5))

  date_process
0   2022-02-07
1   2022-02-08
2   2022-02-09
3   2022-02-10
4   2022-02-11
  date_delivered
0     2022-02-07
1     2022-02-08
2     2022-02-09
3     2022-02-10
4     2022-02-11

In [360]:
# df_pivot_deliver = pd.merge(full_dates_do, status, how="left", on=["date_delivered"])
# df_pivot_deliver.fillna('process', inplace=True)
# df_pivot_deliver

In [361]:
df_pivot_order= pd.pivot_table(grouped_so, values='product_uom_qty', index=['date_process'],
                    columns=['default_code'],fill_value=0)
df_pivot_order.reset_index(inplace=True)
df_pivot_order.tail(5)

default_code,date_process,BA201B,BA201L,BA201L-1,BA202B,BA202L,BA202L-1,BA203L,BA205L,BA207L,...,JWHA,JWOS-C,JXEM,JYEE,JZEN,JZKS,P3002L,P3019L,P3025L,P3033L
46,2022-04-01,3.0,75.5,6.0,0,129.0,0,3.0,9.0,0,...,8.5,0,19.5,0,5.0,67.0,4,18.0,7.5,15.0
47,2022-04-02,2.0,3.0,0.0,0,0.0,0,0.0,0.0,0,...,2.0,0,3.0,0,14.0,19.0,1,10.0,7.0,0.0
48,2022-04-04,10.0,20.0,0.0,0,13.0,0,10.0,0.0,0,...,0.0,0,33.0,0,4.0,41.0,0,12.0,3.0,18.0
49,2022-04-05,0.0,5.0,0.0,0,33.0,0,5.0,0.0,0,...,8.0,0,43.0,0,3.0,51.0,6,32.0,10.0,1.0
50,2022-04-06,0.0,0.0,0.0,0,2.0,0,1.0,0.0,0,...,8.0,0,24.0,0,11.0,2.0,0,0.0,3.0,0.0

In [362]:
df_pivot_order = pd.merge(full_dates_so, df_pivot_order, how="left", on=["date_process"])
df_pivot_order.fillna(0, inplace=True)
df_pivot_order.tail(5)

,date_process,BA201B,BA201L,BA201L-1,BA202B,BA202L,BA202L-1,BA203L,BA205L,BA207L,...,JWHA,JWOS-C,JXEM,JYEE,JZEN,JZKS,P3002L,P3019L,P3025L,P3033L
53,2022-04-01,3.0,75.5,6.0,0.0,129.0,0.0,3.0,9.0,0.0,...,8.5,0.0,19.5,0.0,5.0,67.0,4.0,18.0,7.5,15.0
54,2022-04-02,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,3.0,0.0,14.0,19.0,1.0,10.0,7.0,0.0
55,2022-04-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,2022-04-04,10.0,20.0,0.0,0.0,13.0,0.0,10.0,0.0,0.0,...,0.0,0.0,33.0,0.0,4.0,41.0,0.0,12.0,3.0,18.0
57,2022-04-05,0.0,5.0,0.0,0.0,33.0,0.0,5.0,0.0,0.0,...,8.0,0.0,43.0,0.0,3.0,51.0,6.0,32.0,10.0,1.0

In [363]:
df_order =  pd.melt(df_pivot_order, 
            id_vars=['date_process'], 
            value_vars=list(df_pivot_order.columns[1:]), # list of days of the week
            var_name='default_code',
            value_name='order_qty')
df_order

     date_process default_code  order_qty
0      2022-02-07       BA201B        0.0
1      2022-02-08       BA201B        3.0
2      2022-02-09       BA201B        0.0
3      2022-02-10       BA201B       10.0
4      2022-02-11       BA201B        0.0
...           ...          ...        ...
8289   2022-04-01       P3033L       15.0
8290   2022-04-02       P3033L        0.0
8291   2022-04-03       P3033L        0.0
8292   2022-04-04       P3033L       18.0
8293   2022-04-05       P3033L        1.0

[8294 rows x 3 columns]

In [364]:
grouped_order = df_order.groupby(['date_process', 'default_code'], as_index=False)['order_qty'].sum()
print(grouped_order.head(5))

  date_process default_code  order_qty
0   2022-02-07       BA201B        0.0
1   2022-02-07       BA201L        2.5
2   2022-02-07     BA201L-1        5.0
3   2022-02-07       BA202B        0.0
4   2022-02-07       BA202L        5.0

In [365]:
grouped_order.columns = ['date', 'default_code', 'order_qty']
# grouped_order.columns = ['date', 'default_code', 'order_qty']
print(grouped_order.tail(5))

           date default_code  order_qty
8289 2022-04-05         JZKS       51.0
8290 2022-04-05       P3002L        6.0
8291 2022-04-05       P3019L       32.0
8292 2022-04-05       P3025L       10.0
8293 2022-04-05       P3033L        1.0

In [366]:
df_pivot_deliver= pd.pivot_table(grouped_do, values='qty_delivered', index=['date_delivered'],
                    columns=['default_code'],fill_value=0)
df_pivot_deliver.reset_index(inplace=True)
print(df_pivot_deliver.head(5))

default_code date_delivered  BA201B  BA201L  BA201L-1  BA202L  BA203L  BA209L  \
0                2022-02-07       0     0.0         0     0.0     0.0     0.0
1                2022-02-08       0     1.0         0     0.0     0.0     0.0
2                2022-02-09       0     1.0         0     0.0     0.0     0.0
3                2022-02-10       0     3.0         0     0.0     0.0     5.0
4                2022-02-11       0     4.0         0     0.0     0.0     3.0

default_code  BA211L  BA213L  BA215L  ...  JSYS  JWHA  JXEM  JYEE  JZEN  JZKS  \
0                  0     0.0       0  ...   0.0   0.0   0.0     0   0.0   0.0
1                  0     0.0       0  ...   7.0  70.0  13.0     0   0.0   0.0
2                  0     2.0       0  ...   7.0  20.0  12.5     0  30.0   0.0
3                  0     2.0       0  ...   0.0   0.0   8.0     1   5.0   0.0
4                  0     1.0       1  ...   1.0  31.0   9.0     0   6.0   0.0

default_code  P3002L  P3019L  P3025L  P3033L
0                0.0     0.0     0.0     0.0
1                1.0     0.0     0.0     0.0
2                0.0     3.5     0.0     0.0
3                0.0     1.0     0.0     0.0
4                0.0     1.0     2.0     0.0

[5 rows x 125 columns]

In [367]:
df_pivot_deliver = pd.merge(full_dates_do, df_pivot_deliver, how="left", on=["date_delivered"])
df_pivot_deliver.fillna(0, inplace=True)
print(df_pivot_deliver.head(5))

  date_delivered  BA201B  BA201L  BA201L-1  BA202L  BA203L  BA209L  BA211L  \
0     2022-02-07     0.0     0.0       0.0     0.0     0.0     0.0     0.0
1     2022-02-08     0.0     1.0       0.0     0.0     0.0     0.0     0.0
2     2022-02-09     0.0     1.0       0.0     0.0     0.0     0.0     0.0
3     2022-02-10     0.0     3.0       0.0     0.0     0.0     5.0     0.0
4     2022-02-11     0.0     4.0       0.0     0.0     0.0     3.0     0.0

   BA213L  BA215L  ...  JSYS  JWHA  JXEM  JYEE  JZEN  JZKS  P3002L  P3019L  \
0     0.0     0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0     0.0     0.0
1     0.0     0.0  ...   7.0  70.0  13.0   0.0   0.0   0.0     1.0     0.0
2     2.0     0.0  ...   7.0  20.0  12.5   0.0  30.0   0.0     0.0     3.5
3     2.0     0.0  ...   0.0   0.0   8.0   1.0   5.0   0.0     0.0     1.0
4     1.0     1.0  ...   1.0  31.0   9.0   0.0   6.0   0.0     0.0     1.0

   P3025L  P3033L
0     0.0     0.0
1     0.0     0.0
2     0.0     0.0
3     0.0     0.0
4     2.0     0.0

[5 rows x 125 columns]

In [368]:
df_deliver =  pd.melt(df_pivot_deliver, 
            id_vars=['date_delivered'],
            value_vars=list(df_pivot_deliver.columns[1:]), # list of days of the week
            var_name='default_code', 
            value_name='qty_delivered')
df_deliver

     date_delivered default_code  qty_delivered
0        2022-02-07       BA201B            0.0
1        2022-02-08       BA201B            0.0
2        2022-02-09       BA201B            0.0
3        2022-02-10       BA201B            0.0
4        2022-02-11       BA201B            0.0
...             ...          ...            ...
7187     2022-04-01       P3033L            6.0
7188     2022-04-02       P3033L            7.0
7189     2022-04-03       P3033L            0.0
7190     2022-04-04       P3033L            7.5
7191     2022-04-05       P3033L            6.0

[7192 rows x 3 columns]

In [369]:
grouped_deliver = df_deliver.groupby(['date_delivered', 'default_code'], as_index=False)['qty_delivered'].sum()
grouped_deliver.columns = ['date', 'default_code', 'qty_delivered']
# grouped_deliver.columns = ['date_delivered', 'default_code', 'qty_delivered']
print(grouped_deliver.head(5))

        date default_code  qty_delivered
0 2022-02-07       BA201B            0.0
1 2022-02-07       BA201L            0.0
2 2022-02-07     BA201L-1            0.0
3 2022-02-07       BA202L            0.0
4 2022-02-07       BA203L            0.0

In [370]:
df_merge = pd.merge(grouped_order, grouped_deliver, how="left", on=["default_code", "date"])
df_merge.fillna(0, inplace=True)
print(df_merge.head(5))
# df_merge = pd.merge(grouped_order, grouped_deliver, how="left", on=["default_code"])
print(df_merge.head(5))

        date default_code  order_qty  qty_delivered
0 2022-02-07       BA201B        0.0            0.0
1 2022-02-07       BA201L        2.5            0.0
2 2022-02-07     BA201L-1        5.0            0.0
3 2022-02-07       BA202B        0.0            0.0
4 2022-02-07       BA202L        5.0            0.0
        date default_code  order_qty  qty_delivered
0 2022-02-07       BA201B        0.0            0.0
1 2022-02-07       BA201L        2.5            0.0
2 2022-02-07     BA201L-1        5.0            0.0
3 2022-02-07       BA202B        0.0            0.0
4 2022-02-07       BA202L        5.0            0.0

In [371]:
df_merge.fillna(0, inplace=True)
df_merge['selisih'] = df_merge['order_qty'] - df_merge['qty_delivered']
df_merge.head(5)

        date default_code  order_qty  qty_delivered  selisih
0 2022-02-07       BA201B        0.0            0.0      0.0
1 2022-02-07       BA201L        2.5            0.0      2.5
2 2022-02-07     BA201L-1        5.0            0.0      5.0
3 2022-02-07       BA202B        0.0            0.0      0.0
4 2022-02-07       BA202L        5.0            0.0      5.0

In [372]:
print(df_merge.head(5))

        date default_code  order_qty  qty_delivered  selisih
0 2022-02-07       BA201B        0.0            0.0      0.0
1 2022-02-07       BA201L        2.5            0.0      2.5
2 2022-02-07     BA201L-1        5.0            0.0      5.0
3 2022-02-07       BA202B        0.0            0.0      0.0
4 2022-02-07       BA202L        5.0            0.0      5.0

In [373]:
df_merge_sum=df_merge.sort_values(['date']).reset_index(drop=True)
print(df_merge_sum.head(5))

        date default_code  order_qty  qty_delivered  selisih
0 2022-02-07       BA201B        0.0            0.0      0.0
1 2022-02-07       E3027L       13.0            0.0     13.0
2 2022-02-07       E3028L        0.0            0.0      0.0
3 2022-02-07       E3029L       10.0            0.0     10.0
4 2022-02-07       E3030L        7.0            0.0      7.0

cumsum = Cumulative sum (Grafik Jumlah Kumulatif) meningkatkan kemampuan untuk mendeteksi pergeseran kecil dengan memetakan statistik yang menggabungkan nilai data saat ini dan sebelumnya dari proses. Secara khusus, bagan CUSUM memplot jumlah kumulatif penyimpangan nilai sampel dari nilai target

In [374]:
df_merge_sum["progress_sum"]=df_merge_sum.groupby(['default_code'])['selisih'].cumsum(axis=0)
print(df_merge_sum.head(20))

         date default_code  order_qty  qty_delivered  selisih  progress_sum
0  2022-02-07       BA201B        0.0            0.0      0.0           0.0
1  2022-02-07       E3027L       13.0            0.0     13.0          13.0
2  2022-02-07       E3028L        0.0            0.0      0.0           0.0
3  2022-02-07       E3029L       10.0            0.0     10.0          10.0
4  2022-02-07       E3030L        7.0            0.0      7.0           7.0
5  2022-02-07       E3031L        6.5            0.0      6.5           6.5
6  2022-02-07       E3032L        2.0            0.0      2.0           2.0
7  2022-02-07       E3012L        1.5            0.0      1.5           1.5
8  2022-02-07       E5006K        0.0            0.0      0.0           0.0
9  2022-02-07       E5012K        0.0            0.0      0.0           0.0
10 2022-02-07       E5012T        0.0            0.0      0.0           0.0
11 2022-02-07         JAPT        3.5            0.0      3.5           3.5
12 2022-02-07         JBAT       27.0           20.0      7.0           7.0
13 2022-02-07         JBCH        1.0            0.0      1.0           1.0
14 2022-02-07         JBSV        0.0            0.0      0.0           0.0
15 2022-02-07       E5006T        0.0            0.0      0.0           0.0
16 2022-02-07         JBTS       18.5            0.0     18.5          18.5
17 2022-02-07       E3005L        8.0            0.0      8.0           8.0
18 2022-02-07       E1041L        4.5            0.0      4.5           4.5
19 2022-02-07       E1034B       21.0            3.0     18.0          18.0

In [401]:
df_merge_sum.to_csv("so_progress_all.csv")
df_merge_sum

           date default_code  order_qty  qty_delivered  selisih  progress_sum
0    2022-02-07       BA201B        0.0            0.0      0.0      0.000000
1    2022-02-07       E3027L       13.0            0.0     13.0     13.000000
2    2022-02-07       E3028L        0.0            0.0      0.0      0.000000
3    2022-02-07       E3029L       10.0            0.0     10.0     10.000000
4    2022-02-07       E3030L        7.0            0.0      7.0      7.000000
...         ...          ...        ...            ...      ...           ...
8289 2022-04-05       E1016K       18.0           29.0    -11.0     27.833333
8290 2022-04-05       E1016M       50.0           73.0    -23.0    174.500000
8291 2022-04-05       E1017M       18.0            6.0     12.0     84.166667
8292 2022-04-05       E1029M       17.0           12.0      5.0    184.833333
8293 2022-04-05       P3033L        1.0            6.0     -5.0     79.833333

[8294 rows x 6 columns]

In [400]:
print(df_merge_sum.dtypes)

date             datetime64[ns]
default_code             object
order_qty               float64
qty_delivered           float64
selisih                 float64
progress_sum            float64
dtype: object

#BAGIAN STOCK_SO

In [377]:
df_stock =  pd.read_sql('''SELECT
	fq.date_of_trans as date,
	fq.code_prod as default_code,
	fq.name_prod,
	fq.subcateg_name,
	COALESCE(SUM(fq.st_in), 0) as st_in,
	COALESCE(SUM(fq.st_out), 0) as st_out,
	COALESCE(SUM(fq.st_last),0) as st_last
FROM show_stock_per_date_by_trend('{73,74,34,322,342,295,389,296,40,372,327,297,328,394}','{14,13,12,11}',True,30) fq 
GROUP BY
	fq.date_of_trans,
	fq.product,
	fq.code_prod,
	fq.name_prod,
	fq.subcateg_name
ORDER BY fq.date_of_trans''', engine)

In [378]:
df_stock['date'] = pd.to_datetime(df_stock['date'])

In [379]:
df_merge_stock_so = pd.merge(df_stock, df_merge_sum, how="left", on=["date", "default_code"])
df_merge_stock_so.fillna(0, inplace=True)

In [380]:
df_merge_stock_so['stock-so'] = df_merge_stock_so['st_last'] - df_merge_stock_so['progress_sum']
df_merge_stock_so.to_csv('data_stock_so.csv')

In [381]:
df_merge_stock_so

# Google Drive

In [382]:
#from google.colab import files
  
#uploaded = files.upload()

Upload Credential code

Cara ini hanya valid untuk 3 jam (Token Expired)

In [383]:
#import json
#import requests

In [384]:
# """headers = {"Authorization": "Bearer ya29.a0ARrdaM9iSD5jpHChOG4zhVcOdxl51O73V54Y-vR0hv6EjrPsbgGILHOkrGyUDh0kwYponqeSaGBSpc4axXf0tYglP_wHlPhdJxaKyPPJ4JwPRyQdaIeH8ydrV4p8MIuiIS9tu0vkvRsKmWky7nMQ8i9Y_LXR"}
# para = {
#     "name": "coba_test2.csv",
# }
# files = {
#     'data': ('metadata', json.dumps(para), 'application/json; charset=UTF-8'),
#     'file': open("./data_stock_so.csv", "rb")
# }
# r = requests.post(
#    "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
#   headers=headers,
#  files=files
# )
# print(r.text)"""

In [385]:
# '''import os
# from pydrive.auth import GoogleAuth
# from pydrive.drive import GoogleDrive'''

In [386]:
# """gauth = GoogleAuth()

In [387]:
# """gauth.LocalWebserverAuth()

In [388]:
# """drive = GoogleDrive(gauth)

In [389]:
# '''f = drive.CreateFile()
# f.SetContentFile('data_stock_so.csv')
# f.Upload()

#Gdrive Done Uploaded

# Pake FTP

In [390]:
# import ftplib

# FTP_HOST = "Win"
# FTP_USER = "username"
# FTP_PASS = "password"

In [391]:
# ftp = ftplib.FTP(FTP_HOST, FTP_USER, FTP_PASS)
# # force UTF-8 encoding
# ftp.encoding = "utf-8"

In [392]:
# # local file name you want to upload
# coba = open('read.txt', 'w')
# coba.write('Welcome to Geeks for Geeks')
# coba.close()

In [393]:
# filename = "read.txt"
# with open(filename, "rb") as file:
#     # use FTP's STOR command to upload the file
#     ftp.storbinary(f"STOR {filename}", file)

In [394]:
# ftp.dir()

In [395]:
# from google.colab import files
  
# uploaded = files.upload()

In [396]:
# from __future__ import print_function
# import os.path
# from google.auth.transport.requests import Request
# from google.oauth2.credentials import Credentials
# from google_auth_oauthlib.flow import InstalledAppFlow
# from googleapiclient.discovery import build
# from googleapiclient.errors import HttpError
# from oauth2client.service_account import ServiceAccountCredentials
# from apiclient.discovery import build
# from apiclient.http import MediaFileUpload

In [397]:
# # If modifying these scopes, delete the file token.json.
# SCOPES = ['https://www.googleapis.com/auth/drive',
#     'https://www.googleapis.com/auth/drive.file']

In [398]:
# def main():
#     """Shows basic usage of the Drive v3 API.
#     Prints the names and ids of the first 10 files the user has access to.
#     """
#     creds = None
#     # The file token.json stores the user's access and refresh tokens, and is
#     # created automatically when the authorization flow completes for the first
#     # time.
#     print ('start')
#     if os.path.exists('token.json'):
#         creds = Credentials.from_authorized_user_file('token.json', SCOPES)
#     # If there are no (valid) credentials available, let the user log in.
#     print('creds=',creds)
#     if not creds or not creds.valid:
#         if creds and creds.expired and creds.refresh_token:
#             creds.refresh(Request())
#         else:
#             print('else',SCOPES)
#             flow = InstalledAppFlow.from_client_secrets_file('credentials.json', SCOPES)
#             print ('flow=',flow)
#             creds = flow.run_local_server(port=8090)
#             print('res=',flow,creds)
#         # Save the credentials for the next run
#         with open('token.pickle', 'w') as token:
#             token.write(creds.to_json())
#     try:
#         print ('try')
#         service = build('drive', 'v3', credentials=creds)
#         print('service=',service)
#         # Call the Drive v3 API
#         results = service.files().list(
#             pageSize=10, fields="nextPageToken, files(id, name)").execute()
#         items = results.get('files', [])
#         if not items:
#             print('No files found.')
#             return
#         print('Files:')
#         for item in items:
#             print(u'{0} ({1})'.format(item['name'], item['id']))
#     except HttpError as error:
#         # TODO(developer) - Handle errors from drive API.
#         print(f'An error occurred: {error}')
        
# if __name__ == '__main__':
#     main()